.#*
.idea
*.iml
*~
target
.classpath
.project
.settings
rhel.*package*
testng.*
test-output/
/.clover
artifacts
root
.bb
*.state
*.swp
**/#*#
coverity
*.class
.DS_Store
.checkstyle
src/main/docs/static_files/**
/release.properties
test-results
*.log
nohup.out
tmp
logs/
*.releaseBackup
