<!--
  ~ Copyright 2015, Yahoo Inc.
  ~ Copyrights licensed under the New BSD License.
  ~ See the accompanying LICENSE file for terms.
  -->

<configuration scan="true" scanPeriod="1 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.yahoo.gondola" level="ERROR"/>
    <logger name="com.yahoo.gondola.container" level="INFO"/>
    <logger name="com.yahoo.gondola.demo" level="INFO"/>
</configuration>
